body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
    background: #ec8986;
}
.header_div{
    background: #f075ea;
    color: blue;
}
.header_div p{
    font-family: 'Roboto',sans-serif;
    color: rgb(3, 109, 3);
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto',sans-serif;
    margin-top: 30px;
    width: 130px;
    letter-spacing: 2px;
    
    font-weight: bold;  
}
.copy_right_footer{
    position: fixed;
    color: purple;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    
    background-color:rgb(252, 244, 252) ;
    line-height: 3;
    text-align: center;
    text-shadow:  5px 5px 5px rgb(131, 37, 224);
}